{
  "presets": [
    // Transpile React components to JavaScript
    "react",
    // webpack understands the native import syntax, and uses it for tree shaking
    [
      "es2015",
      {
        "modules": false
      }
    ],
    // Stage 2 is "draft", 4 is finished, 0 is strawman.
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ]
}
